footer {
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
